<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <connectionStrings>
    <add connectionString="Data Source=DESKTOP-TGRKSN5;Initial Catalog=SupermarketDB;User Id=sa2;Password=Admin123;" name="myConStr"/>
  </connectionStrings>
</configuration>
